.Recipe-Btn{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    margin: auto;
    text-align: center;
    
}
.container{
    position: relative;
    
}
.text-container{
    font-size: 15px;
}
.chef-img{
    border-radius: 20px;
}
.spinner{
    text-align: center;
    margin-top: -50%;
    z-index: 9999;
   
}
